= form_for(notable) do |notable_f|
    =notable_f.fields_for 'notes_attributes', notable.notes.build, index: nil do |f|
        %div.field
            =f.label :title
            %br
            =f.text_field :title
        %div.field
            =f.label :content
            %br
            =f.text_field :content
    %div.actions
        =notable_f.submit
