- display_attrs = %i[id full_name email birth_date gender created_at]
= render partial: 'shared/crud_models',
  locals: {model_class: Student, model_collection: @students, display_attrs: display_attrs}
