- display_attrs = %i[id name number_of_semesters allocation start_date end_date institute]
= render partial: 'shared/crud_models',
  locals: {model_class: Course, model_collection: @courses, display_attrs: display_attrs}
